{% extends 'base.html'%}
{% block title %} Add note {% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST" action="/create_note">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" name="text" placeholder="Your note..."></textarea>
                </div>
            </div>
            <div class="field">
                <label class="radio">
                    <input type="radio" id="private" name="note_type" value="private" checked="checked">
                    Private
                </label>
            </div>
            <div class="field">
                <label class="radio">
                    <input type="radio" id="public" name="note_type" value="public">
                    Public
                </label>
            </div>
            <div class="field">
                <label class="radio">
                    <input type="radio" id="encrypted" name="note_type" value="encrypted">
                    Encrypted
                </label>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Create note</button>
        </form>
    </div>
</div>
{% endblock %}