{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Odszyfrowana notatka</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="card-content">
                <div class="content">
                    <blockquote>{{ messages[0] }}</blockquote>
                </div>
                <form method="POST" action="/delete_encrypted_note">
                    <input type="hidden" name="note_id" value="{{ note_id }}"/>
                    <div class="field is-horizontal">
                        <button formaction="/delete_encrypted_note" class="button is-danger">
                            Usuń notatkę
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}