{% extends 'base.html'%}
{% block title %} Encrypted Notes {% endblock %}
{% block content%}
<h1 class="title">
  Witaj, {{ name }}!
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
{% if (notes is defined) and notes %} {% for note in notes %}
<div class="card">
  <div class="card-content">
      <div class="content">
          <span class="tag is-link is-normal">{{ note['name'] }}</span>
          <form method="POST" action="/delete_note">
              <input class="input is-large" type="text" name="title" value="{{ note['title'] }}" readonly>
              <input type="hidden" name="note_id" value="{{ note['id'] }}"/>
              <button class="button is-info">
                Usuń notatkę
              </button>
              <div class="field is-horizontal">
                  <div>
                      <button formaction="/decrypt_note" class="button is-info">
                        Odszyfruj notatkę
                      </button>
                  </div>
                  <div class="field-body">
                    <input class="input" type="password" name="encryption_password" placeholder="Hasło...">
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
{% endfor %}
{% else %}
<h4>Nie posiadasz jeszcze notatek</h4>
{% endif %}
<a href="/create_encrypted_note" class="btn btn-primary">
  <button class="button is-block is-info is-large is-fullwidth">
    Dodaj notatkę
  </button>
</a>
{% endblock %}