{% extends 'base.html'%}
{% block title %} Notatki {% endblock %}
{% block content%}
<h1 class="title">
  Witaj, {{ name }}!
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="notification is-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
{% if (notes is defined) and notes %} {% for note in notes %}
<div class="card">
  <div class="card-content">
      <div class="content">
          <span class="tag is-link is-normal">{{ note['name'] }}</span>
          <form method="POST" action="/delete_note">
              <input class="input is-large" type="text" name="title" value="{{ note['title'] }}" readonly>
              <div class='box is-primary'>{{ note['text'] | safe }}</div>
              <input type="hidden" name="note_id" value="{{ note['id'] }}"/>
              <button class="button is-info">
                Usuń notatkę
              </button>
              <button formaction="/edit_note" class="button is-info">
                Edytuj notatkę
              </button>
              <div class="field is-horizontal">
                  <div>
                      <button formaction="/share_note" class="button is-info">
                        Udostępnij dla
                      </button>
                  </div>
                  <div class="field-body">
                    <input class="input" type="text" name="share_user_name" placeholder="Nazwa użytkownika">
                  </div>
              </div>
          </form>
      </div>
	</div>
</div>
{% endfor %}
{% else %}
<h4>Nie posiadasz jeszcze notatek</h4>
{% endif %}
<a href="/create_note" class="btn btn-primary">
  <button class="button is-block is-info is-large is-fullwidth">
    Dodaj notatkę
  </button>
</a>
{% endblock %}