{% extends 'base.html'%}
{% block title %} Profile {% endblock %}
{% block content%}
<h1 class="title">
  Witaj, {{ name }}!
</h1>
<div class="column is-4 is-offset-4">
    <div class="box">
		{% if (notes is defined) and notes %} {% for note in notes %}
		<textarea class="textarea" name="text">{{ note['text'] }}</textarea>
		{% endfor %}
        {% else %}
                <h4>Nie dodałeś/aś jeszcze żadnych notatek.</h4>
        {% endif %}
    </div>
		<a href="/create_note" class="btn btn-primary"> Dodaj notatkę </a>
	</div>
</div>